*{
    box-sizing:border-box;
    
}
header{
    margin:0;
    padding:5%;
}
body{

    margin:0;
    background-image:url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/green_dust_scratch.png");
    /*Oficial site of the used background image:http://backgroundhost.com/*/
}
#cuerpo{
    background-color:gray;
    margin-top:5%;
    margin-right:33%;
    margin-left:33%;
    width:30%;
    padding: 10px;
    border-radius:15px;
}
#casio{
    color:black;
    font-family:"Georgia";
    font-weight:bolder;
    float:left;
}
#fx{
    color:black;
    font-family: 'Italianno', cursive;
    font-weight:bolder;
    float:right;
}
#natural{
    font-family:"";
    color:#00ffcc;
    font-weight:bold;
    float:right;
}
#displayer{
    font-family: 'DotGothic16', sans-serif;
    background-color:#339933;
    color:#000066;
    padding:20 px 20 px;
    border-radius:10px;
    font-weight:bold;
    align-content:center;
}
.number{
    background-color:white;
    color:black;
    margin:2px;
    padding:10 px 10px;
    border-radius:5px;
    box-shadow:2px gray;
    /*In the case that I will use CSS buttons(different from html buttons that are those what were
    chosen at the beginning) I must use the box-shadow: xpx ypx; property*/

}
.number:hover{
    background-color:#ccc;
    border:#ccc;
}
.operation{
    color:white;
    background-color:black;
    padding:10 px 10px;
    border-radius:5px;
    box-shadow:2px;
}
.opertation:hover{
    color:#ccc;
}
